.circle{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    animation: recording 2s 0s infinite;
}
.container{
    animation: colorChanging 2s 0s infinite;
}

@keyframes colorChanging{
    10%{
        background-color: yellow;
    }
    30%{
        background-color: blue;
    }
    60%{
        background-color: blueviolet;
    }
    80%{
        background-color: aqua;
    }
    100%{
        background-color: cadetblue;
    }
}
@keyframes recording{
    0%{
        transform: rotate(0deg);
        background-color:green;
}100%{
        transform: rotate(360deg);
        background-color: red;
    }
    }
.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    animation: moving 2s 0s infinite;
}
@keyframes moving{
    0%{
        transform:rotate(360deg) ;
        background-color: orangered;
    }100%{
        transform: rotate(0deg);
        background-color: brown ;
    }
}
